@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../src/page_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

header,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  header {
    display: block;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 30px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #24252a;
  color: white;
  text-align: center;
}
