<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos?</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/who.css">
</head>
<body>
    <header class="">
        <img class="logo" width="256px" src="../src/logo.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="rutinas.html">Rutinas</a></li>
                <li><a href="trainers.html">Entrenadores</a></li>
                <li><a href="quienessomos.html">Quienes Somos</a></li>
            </ul>
        </nav>
        <a href="./contact.html" class="cta"><button>Contactanos</button></a>
    </header>
    <div class="flex-container">
        <h1>Quienes somos?</h1>
        <p>Somos una reconocida y extensa red de gimnasios a lo largo de todo el pais.</p>
        <p>Ofrecemos diferentes tipos de servicios y planes de entrenamiento para nuestros clientes</p>
        <p>Nuestra mision es fomentar el desarrollo personal y profesional de nuestros clientes en el entrenamiento corporal</p>
        <img src="../src/who.jpg" alt="img" width="100%">
    </div> 
    </div>
    <div class="footer">
  <p>Fitness GYM &copy; Todos los derechos reservados</p>
  <a href="templates/contact.html" class="cta"><button>Contactanos</button></a>
</div> 
</body>
</html>