<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutinas</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/rutinas.css">
</head>

<body>
<header class="">
        <img class="logo" width="256px" src="../src/logo.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="rutinas.html">Rutinas</a></li>
                <li><a href="trainers.html">Entrenadores</a></li>
                <li><a href="quienessomos.html">Quienes Somos</a></li>
            </ul>
        </nav>
        <a href="./contact.html" class="cta"><button>Contactanos</button></a>
    </header>
    <div class="flex-container">
        <h1>
            Rutinas para principiantes en el gimnasio
        </h1>
        <img src="../src/todo.jpg" alt="" width="100% ">
        <p>
            Comienzas por primera vez el gimnasio y quieres conseguir resultados inmediatamente. Tranquilo, el error que cometen muchas personas es comenzar más fuerte de lo que realmente pueden. Es decir, coger más peso del que deberías. Por eso, te quiero mostrar una rutina para principiantes que durará exactamente un mes. Aunque si lo consideras necesario, puedes alargarlo un poco más. <b>¿Comenzamos con el entrenamiento?</b>
        </p>
        <h2>Los mejores ejercicios para un principiante</h2>
        <p>
            Antes de comenzar, vamos a repasar algunos de los mejores ejercicios para un principiante. Ejercicios que son muy recomendables pero que conviene ejecutar bien, para evitar hacernos daño al ejecutarlos. Los mejores ejercicios para un principiantes, en este caso, son tres: press de banca, sentadilla y peso muerto.
        </p>
        <h2>Press de banca</h2>
        <p>Comenzamos por el press de banca, ejercicio que suele gustar mucho a los principiantes, por estar dirigido al pecho. El problema del press de banca es que parece sencillo y lo es, pero también es muy sencillo hacerlo mal. Con el press de banca, además del pectoral mayor, trabajamos tríceps, deltoides anterior, serratos y coracobraquial.</p>
        <p>Para realizar el press de banca, debemos recostarnos en un banco plano y apoyar glúteos, caderas y hombros sobre él. Los pies van al suelo, no al banco, y deben estar algo más abiertos del ancho del cuerpo. Al coger la barra, las palmas miran hacia adelante (pronación) y su separación es similar a la de las piernas, algo más que los hombros.</p>
        <p>A continuación, brazo y antebrazo forman un ángulo recto que se consigue flexionando el codo con la barra agarrada. Así, las manos quedan justo sobre el pecho. A partir de ahí, cogemos aire y bajamos la barra, despacio, hacia el pecho y sin mover glúteos, cadera ni hombros del banco. Cuando la barra llegue al pecho, comenzamos a subirla mientras soltamos el aire.</p>
        <p>Si tienes problemas con la barra, puedes usar mancuernas. Si lo quieres más fácil, ayúdate de la máquina específica que te servirá de guía en tus primeros días de entrenamiento. No tengas problema en recurrir a ella. Sobre todo, intenta no arquear la espalda o rebotar la barra en tu pecho.</p>
        <h2>Sentadilla</h2>
        <p>La sentadilla rima con pesadilla y la relación no es casual. Es una de las rutinas más duras de llevar a cabo y nos dará agujetas durante varios días, pero también es una forma sencilla de iniciarse en el entrenamiento. Y es que este ejercicio implica tanto el tren inferior de tu cuerpo, como la zona media. Es un ejercicio muy completo y que si consigues ejecutar correctamente, te dará la pauta para hacer otros ejercicios igual de bien.</p>
        <p>Lo bueno de las sentadillas es que puedes hacerlas con peso libre o con la ayuda de la multipower. También las puedes hacer con ayuda de una fitball. No obstante, para empezar, lo mejor es usar el propio cuerpo e ir cogiendo soltura. Y agujetas. Si quieres una guía, coge un palo de madera y ponlo sobre tus hombros.</p>
        <p>Una vez lo tenemos, nos colocamos de pie, con las piernas separadas y los pies en paralelo. El movimiento es sencillo: hacer como si nos sentamos en una silla, salvo que la silla no está, por lo que nos volvemos a levantar. Muy importante es que la espalda se mantenga recta. Para hacerlo, debemos echarla lentamente hacia adelante, cuando estemos bajando. Las rodillas tampoco deben superar las puntas de los pies, por lo que ésa será la referencia para volver a subir.</p>
        <p>También debemos controlar los glúteos para que sean los músculos de las piernas los que trabajen y no cargar el peso sobre la rodilla. No es fácil pero merece mucho la pena.</p>
        <h2>Dominadas</h2>
        <p>¿Dominadas para empezar a entrenar? Sí, dominadas para empezar a entrenar. Para empezar, es un ejercicio que también implica gran cantidad de músculos. De hecho, es el que más músculos requiere, pues usa desde los brazos a las piernas, pasando por el core.</p>
        <p>Pero claro, si acabas de empezar, es posible que no puedas hacer una sola dominada. Y contamos con ello. En tal caso, lo único que debes hacer es subir a la barra, ponerte en posición de dominada y descender lentamente, aguantando el peso de tu propio cuerpo. Es muy sencillo y sentará la base de lo que será tu posterior desarrollo.</p>
        <p>Para subirte a la barra, tienes dos opciones sencillas. Una es dar un salto, agarrarte y, desde ahí, dejarte caer. La otra opción es coger una silla, un alza o lo que tengas a mano, subir y hacer el ejercicio. No obstante, si tienes alguien que te pueda ayudar a subir, también te valdrá.</p>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">
  <p>Fitness GYM &copy; Todos los derechos reservados</p>
  <a href="templates/contact.html" class="cta"><button>Contactanos</button></a>
</div> 
</body>

</html>