<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/services.css">
</head>

<body>
    <header class="">
        <img class="logo" width="256px" src="../src/logo.png" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="rutinas.html">Rutinas</a></li>
                <li><a href="trainers.html">Entrenadores</a></li>
                <li><a href="quienessomos.html">Quienes Somos</a></li>
            </ul>
        </nav>
        <a href="./contact.html" class="cta"><button>Contactanos</button></a>
    </header>
    <div class="flex-container">
        <div class="card" >
            <img src="../src/basic.jpg" alt="basic" style="width:520px">
            <div class="container">
                <h4><b>Plan basico</b></h4>
                <p>1 Mes + 7 dias de entrenamiento personal<br> con uno de nuestros entrenadores</p>
                <p><b>10$</b></p>
            </div>
        </div>
        <div class="card">
            <img src="../src/medium.jpg" alt="basic" style="width:520px">
            <div class="container">
                <h4><b>Plan Intermedio</b></h4>
                <p>3 Meses + 30 dias de entrenamiento personal<br> con uno de nuestros entrenadores</p>
                <p><b>25$</b></p>
            </div>
        </div>
        <div class="card">
            <img src="../src/adv.jpg" alt="basic" style="width:520px">
            <div class="container">
                <h4><b>Plan Avanzado</b></h4>
                <p>6 Meses + 180 dias de entrenamiento personal<br> con uno de nuestros entrenadores</p>
                <p><b>80$</b></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">
  <p>Fitness GYM &copy; Todos los derechos reservados</p>
  <a href="templates/contact.html" class="cta"><button>Contactanos</button></a>
</div> 
</body>

</html>